@charset "UTF-8";
:root{
    --maine_fone: Oswald, sans-serif;
    --second_fone: Pacifico, cursive;
    --HP_fone: Comforter Brush, cursive;
    --base_color: #1a335d;/*033f75*/
    --first_base: #ce9c43;/*930406*/
    --second_base: #a85624;/*a49901*/
    --Accent: #afcff5;
    --Accent_shadow: #868aa5;
}
body{
    background-color: var(--base_color);
    font-family: var(--maine_fone);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*Шапка*/

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--first_base);
    border-radius: 10px 10px 0 0;
}
.main_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--first_base);
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #000;
}
.footer{
    background-color: var(--first_base);
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #000;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;

}
.container {
    max-width: 330px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    height: auto;
}
.logo {
    width: 152px;
    height: 202px;
    margin: 0 auto 0 auto;
}
.logo_ico {
    width: 150px;
    height: 200px;
    border-radius: 5px;  
}
.accent:hover,
.accent:focus{
    color: var(--Accent); 
    fill: var(--Accent);
    box-shadow: 3px 3px 6px 4px var(--Accent_shadow);
-webkit-box-shadow: 3px 3px 6px 4px var(--Accent_shadow);
-moz-box-shadow: 3px 3px 6px 4px var(--Accent_shadow);
}
.navigation {
    max-width: 280px;
    margin: 0 auto 0 auto; 
}
.link_list {
    /*display: flex;*/
    /*outline: solid green;*/
    padding: 0;
    text-align: center;

}
.link_list-item {
    list-style: none;
    margin-bottom: 10px;

}
.link {
    /*outline: solid green;*/
    width: auto;
    height: 30px;
    color: var(--second_base);
}
.contacts {
    display: flex;
    justify-content: space-between;
}
.icons{
border-radius: 30px;
height: 40px;
}

.head_screen {
    display: none;/* не верное скрытие элемента с интерфейса*/
}
.hero {
    /*outline: solid red;*/
}
.hero_screen {
    /*outline: solid green;*/
}
.title {
    text-align: center;
    color: var(--base_color);
}
.description {
    color: var(--base_color);
}
.list_category {
    padding: 0;
}
.category {
    margin-top: 10px;
    padding-bottom: 5px;
    list-style: none;
    border-bottom: 1px solid var(--second_base);
}
.category_link {
}
.category_thumb {
    display: flex;
}
.category_imeg {
    border-radius: 4px;
    width: 150px;
    margin-right: 15px;
}
.category_description{
    width: 165px;
    font-family: var(--maine_fone);
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--second_base);

}
.category_title {
    color: var(--base_color);
}
.link_footer{
    color: var(--base_color);
}

/*true story*/

.film_list {
    padding: 0;
}
.film_item {
    margin-top: 10px;
    padding-bottom: 5px;
    list-style: none;
    border-bottom: 1px solid var(--second_base);
    text-align: center;
}
.film_item-link {
}
.film_item-thumb {
    width: 330px;
}
.film_item-title {
    color: var(--base_color);
}
.poster{
    border-radius: 10px;
}

/*row taels*/
.hp_title{
    text-align: center;
}
.er_title{
    height: 300px;
    font-family: var(--maine_fone);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-align: center;
    color: var(--base_color);
}